<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="author" content="Kodinger">
    <meta name="keyword" content="Kodinger, template, html5, css3, bootstrap4">
    <meta name="description" content="HTML5 and CSS3 Template Based on Bootstrap 4">
    <title>Peyo's Blog</title>
    <link rel='stylesheet' href='/stylesheets/ionicons.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
    <link rel='stylesheet' href='/stylesheets/stisla.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg main-navbar">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="/img/logo.png"/>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			    <span class="navbar-toggler-icon">
			    	<i class="ion-navicon"></i>
			    </span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <div class="mr-auto"></div>
                {{#if user}}
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <p class="nav-link smooth-link">Welcome {{user.fullName}}</p>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link smooth-link" href="/article/myArticles">My Article</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link smooth-link" href="/article/create">New Article</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link smooth-link" href="/user/logout">LogOut</a>
                    </li>
                </ul>
                {{/if}}
                {{#unless user}}
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link smooth-link" href="/user/login">Log In</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link smooth-link" href="/user/register">Register</a>
                        </li>
                    </ul>
                {{/unless}}
            </div>
        </div>
    </nav>
</header>
{{{body}}}
</body>
<footer>
    <div class="container">
        <p>
            Made with &hearts; By Peyo Peev
        </p>
    </div>
</footer>

<script src="/javascripts/jquery.min.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>
<script src="/javascripts/stisla.js"></script>

</html>
