{% extends 'base.html.twig' %}

{% block main %}
    <div class="container body-content">
        <h1 class="text-uppercase text-center">{{ message }}</h1>
        <hr class="classic">
        <img class="img-responsive img-circle center-block" src="{{ asset('images/error-404.jpg') }}">
    </div>
{% endblock %}